<html>
<head>
	<title>AQI Monitor </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['PM 2.5', {{pm25}}]
        ]);

        var options = {
          width: 1200, height: 360,
          redFrom: 151, redTo: 999,
          yellowFrom:51, yellowTo: 150,
          greenFrom:0, greenTo: 50,
          max: 1000,
          minorTicks: 20,
          animation:{
          "startup": true,
        duration: 1000,
        easing: 'linear'
      }
      
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div_25'));

        chart.draw(data, options);
      }
    </script>
       <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['PM 10', {{pm10}}]
        ]);

        var options = {
          width: 1200, height: 360,
          redFrom: 151, redTo: 999,
          yellowFrom:51, yellowTo: 150,
          greenFrom:0, greenTo: 50,
          max: 1000,
          minorTicks: 20,
          animation:{
          "startup": true,
        duration: 1000,
        easing: 'linear'
      }
      
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div_10'));

        chart.draw(data, options);
      }
    </script>
    
    
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" style="color:white">AQI Monitor</a>
    </div>
  </nav>
  <div class="container" style="padding-top: 20px;">
  <div class="row text-center" style="width:100%">
  <div class="col">
    <figure class="figure">
        <div id="chart_div_25"></div>
          <figcaption class="figure-caption text-center font-weight-bold">PM 2.5 at Punjabi Bagh on {{dt}}</figcaption>
    </figure>
   </div>
   <div class="col-1">
   </div>
   <div class="col">
    
    <figure class="figure">
        <div id="chart_div_10"></div>
          <figcaption class="figure-caption text-center font-weight-bold">PM 10 at Punjabi Bagh on {{dt}}</figcaption>
    </figure>
    </div>
    </div>
    </div>
  </div>
  </div>
</body>
</html>